.all-movies{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home_panelList-wrap,
.home_panel-wrap,
.home_list-wrap{
  overflow-y: auto;
}

/* checar -webit para quitar el scrool o modificarlo*/

.home_panelList-wrap{
  display: flex;
  flex: 1;
}

.home_panel-wrap{
  flex-basis: 250px;
}

.home_list-wrap{
  flex: 1;
}

.home_list-wrap::-webkit-scrollbar{
  width: 12px;
}

.home_list-wrap::-webkit-scrollbar-track{
  background-color: green;
}

.home_list-wrap::-webkit-scrollbar-thumb{
  background-color: antiquewhite;
  /* border-radius: 10px; */
}