.back-detail{
  filter: brightness(50%);
  width: 100%;
  height: 720px;
  
/*   height: 700px; */
  /*bottom: 50px;*/
  
}

.back-detail img{
  width: 100%;
  height: 720px;
}


.back-detail:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
}

.container-detail{
  position: relative;
  bottom: 100px;
  display: grid;
  bottom: 150px;
  width: 100%;
  /*max-width: 1200px;*/
  margin: auto 0 auto 0;
  gap: 20px;
}

@media (min-width: 600px) {
  .container-detail { grid-template-columns: repeat(3, 1fr); }
}

.first-section img{
  border-radius: 10px;
  
}

.container-detail section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
