.back-detail{
  filter: blur(50%);
  width: 100%;
  position: relative;
  
/*   height: 700px; */
  /*bottom: 50px;*/
  
}




/* .back-detail:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
} */

.container-detail{
  color: white;
  position: relative;
  display: grid;
  top: 150px;
  width: 100%;
  /* height: 100%; */
  /*max-width: 1200px;*/
  gap: 20px;
}

.segundo{
  position: absolute;
  top: 30px;
  color: white;
}

.segundo h2{
  margin-left: 5%;
  color: white;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}

.back-detail::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
}

@media (min-width: 600px) {
  .container-detail { grid-template-columns: repeat(3, 1fr); }
}

.principal{
  background-color: black;
  color: white;
}

@media(max-width: 480px){
  .principal{
    height: 100vh;
  }
}

.container-detail section{
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-section img{
  border-radius: 10px;
  
}

/*------------- Second Section --------------------- */

.second-section{
  padding: 15px;
}

.second-section h2,
.thrid-section h3{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}

/* .thrid-section p{
  column-count: 5;
  column-span:all;
} */

