.banner {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,1));
}



.container-detail{
  color: white;
  position: relative;
  display: grid;
  width: 100%;
  /*max-width: 1200px;*/
  gap: 20px;
}

@media (min-width: 600px) {
  .container-detail { grid-template-columns: repeat(3, 1fr); }
}

.movie-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;
}
.movie-content__poster {
  flex: 1;
}
.movie-content__poster__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding-top: 165%;
}



.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
}


.container-detail section{
  
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  text-align: justify;
  
}

.first-section img{
  border-radius: 10px;
  
}

/*------------- Second Section --------------------- */

.second-section{
  padding: 15px;
  
}

.thrid-section{
  align-items: center;

}

.second-section h2,
.thrid-section h3{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.second-section label{
  margin-bottom: 5px;
  font-size: 18px;
  color: #F2C36B;
}


.favorite {
  background: #fff;
  font-size: 18px;
  cursor: pointer;
  color: black;
  padding: 12px;
  border-radius: 10px;
}

.add-to-cart{
  margin-right: 10px;
  background: #F2C36B;
  border: none;
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 10px;
  color: black;
  
  display: flex;
  align-items: center;

}


.itemsofmovie{
  justify-content: space-around;
  display: flex;
  margin-bottom: 20px;
  margin-top: 15px;
}

.itemsofmovie div{
  border: 1px solid #595857;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: rgba(92, 90, 90, 0.5);
}

.itemsofmovie .icon{
  font-size: 22px;
  margin-bottom: 5px;
  color: #F2C36B;
}

.thrid-section li::marker{
  content: ' - ';
}