footer{
  width: 100%;
  
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright{
  color: white;
  opacity: 0.3;
  text-align: center;
}