.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-modal{
  width: 500px;
  min-height: 100px;
  background: white;
  position: relative;
  border-radius: 5px;
  box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px  0px;
  padding: 20px;
}

.encabezado-modal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.encabezado-modal h2{
  font-weight: 500;
  font-size: 16px;
}

.btn-cerrar{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  transition: .3s ease;
  border-radius: 5px;
}

/* 
.btn-cerrar:hover{
  background: #706f6f;
} */