.containerSearch{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-inline: 50px;
}

.containerSearch .title{
  padding-bottom: 12px;
  color: white;
}

.search{
  display: flex;
  align-items: center;
  padding: 10px; 
  border-radius: 10px;
  background-color: white;
  max-width: 300px;
  margin-bottom: 20px;
}

.search .iconSearch{
  color: rgb(0, 0, 0, 0.8);
  margin-right: 1.5rem;
  font-size: 30px;
}


.search .searchAll{
  font-size: 1rem;
  outline: none;
  
  width: 500px;
  background-color: white;
}

.search .searchAll::placeholder{
  color: rgb(0, 0, 0, 0.26);
}

/*------------------------- other ------------------ */

.moviesResult{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.moviesResult .article{
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 2px 2px 6px 0px rgb(0, 0, 0, 0.3);
}

.moviesResult .article img{
  height: 100%;
}

.moviesResult .article p{
  padding: 20px;
}


.containerResult{
  padding: 40px;
}
